<nav class="navbar navbar-expand-md fixed-top">
  <div class="row navitems">
  <div class="heading">EXPLORE THE RECIPE</div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md">
      <div class="foodlist">
        <ul class="list-group">
          <li *ngFor="let foodItems of foodItem" class="list-group-item" (click)="displayRecipe(foodItems)">
            {{foodItems.recipeName}}</li>
        </ul>
      </div>
    </div>
    <div class="col-md">
      <div *ngIf="display" class="card">
        <div class="card-header">
          <div><span class="badge badge-pill badge-primary" name="fieldName" ngDefaultControl
              [(ngModel)]="item.recipeName">{{item.recipeName}}</span></div>
          <nav class="nav nav-pills">
            <a routerLink="ingredient" class="nav-item nav-link">Ingredients
            </a>
            <a routerLink="procedure" class="nav-item nav-link">Procedure
            </a>
          </nav>
        </div>
        <div class="card-body">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>